[Desktop Entry]
Type=Application
Name=Spider Media Center
GenericName=Media Center
Comment=Spider OS media workspace
Exec=/usr/local/lib/spider-os/media/bin/spider-media-center
Icon=spider-os-logo
Terminal=false
Categories=AudioVideo;Audio;Video;
StartupNotify=true
