[Desktop Entry]
Type=Application
Name=Study
GenericName=Spider OS Education Workspace
Comment=Learn, read, research, analyze, write, and achieve
Exec=/usr/local/lib/spider-os/study/bin/study
Icon=spider-os-logo
Terminal=false
Categories=Education;Office;
StartupNotify=true
